@media (min-width: 1024px) {
  .pc {
    display: block;
  }
}

@media (min-width: 720px) and(max-width: 1023px) {
  .logo {
    color: brown;
  }
}

@media (max-width: 710px) {
  #header {
    max-width: 100%;
  }

  #header .nav {
    margin: 0;
    flex-direction: row-reverse;
  }

  #header .logo {
    display: none;
  }

  #header .nav .select {
    display: none;
  }

  #header .nav .social {
    display: block;
  }

  .moon,
  .sun {
    font-size: 24px;
    border: none;
  }

  #header .nav .menu {
    padding: 10px;
    display: block;
    font-size: 24px;
  }

  #home {
    padding-top: 50px;
    flex-direction: column;
    min-height: 600px;
  }

  .paint {
    margin: 10px 10px;
    flex: 0;
    display: flex;
    justify-content: center;
  }

  .frame {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
  }

  .model {
    width: 200px;
    position: relative;
    top: 0;
  }

  @keyframes animateUser {
    50% {
      bottom: 10px;
      left: -10px;
    }
  }

  .splash {
    width: 100px;
    left: 0;
    top: 0;
    display: none;
  }

  @keyframes animateSpash {
    50% {
      left: 90px;
      bottom: 0;
      width: 30%;
    }
  }

  .container {
    margin: 36px;
    display: block;
    order: 1;
  }

  .container::after {
    display: none;
  }

  .welcome {
    margin-top: 20px;
  }

  .intro {
    color: #405161;
    font-size: 4rem;
    font-weight: 800;
  }

  #about {
    padding-top: 30px;
  }

  .wrapper {
    flex-direction: column;
  }

  .info {
    margin: 36px;
    padding: 0;
  }

  .title {
    text-align: center;
    font-size: 18px;
  }

  .preface {
    text-align: center;
  }

  #skill {
    display: flex;
  }

  .icon {
    flex-direction: column;
  }

  .skill-icon {
    padding: 10px 0;
  }
}
